<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <meta charset="UTF-8">
    {{ JSGlue.include() }}
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
    <title>My Run Plan App</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <script src="{{ url_for('static', filename='date.js') }}" defer></script>
    <script src="{{ url_for('static', filename='weather.js') }}" defer></script>
</head>
</head>
<body>
    <div id="container">
        <div id="map" class='contain'></div>
        <div id="formInput" >
            <label for="distance">Distance (between 1 and 27): </label>
            <input type="number" id="distance" name="distance" min="1" max="27">
            <label for="date">Select Day (default today): </label>
            <select id="weekAhead">

            </select>
            <label for="time">Time of day:</label>
            <select id="time">
                
            </select>
            <button onclick="weatherConditions()">
                Lets Go!
            </button>
            
                <p id="temperature"></p>
                <p id="windDirection"></p>
                <p id="windSpeed"></p>
                <p id="humidity"></p>
                <p id="pressure"></p>
                <p id="precipitationMax"></p>
                <p id="precipitationMin"></p>
        
            </div>
            
    </div>
</body>
</html>