html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    height: 100%;
    width: 100%;
    border: 3px solid #fff;
}

#map {
    float: top;
    height: 70%;
    width: auto;
}

#formInput {
    height: 30%;
}

.runner {
    margin: -10px -10px;
    width: 20px;
    height: 20px;
    border: 2px solid red;
    border-radius: 50%;
    background: #3887be;
    pointer-events: none;
}
