/* remove padding and margin from the whole page */
html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

/* set map height and width */
#map {
    height: 65vh;
    width: 100vw;
}

/* set bottom part height and width */
.boxs {
    height: 35vh;
    width: 100vw;
}

/* distance input set to visible 
It's needed for function in index.html otherwise it won't work. */
#dist {
    visibility: visible;
}
